.categories-toggle {
    display: none;

    input {
        position: absolute;
        opacity: 0;
    }

    label {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: bold;
        cursor: pointer;

        .icon-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: #333;
            }
        }
    }

    &:has(#categories-toggle-checkbox:checked)+.container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 6;

        .categories {
            border-bottom: none;
            flex-direction: column;
            width: 250px;
            background-color: #ccc;
            border-radius: 10px;

            .category {
                border-radius: 0;
            }
        }
    }
}

.categories {
    max-width: 1180px;
    margin: auto;
    border-bottom: 5px solid red;
    display: flex;

    .categories-header {
        padding: 15px;
        display: none;
        justify-content: flex-end;

        .close-btn {
            position: absolute;
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #bbb;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #aaa;
            }
        }
    }

    .category {
        flex: auto;
        padding: 15px 0;
        text-align: center;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        font-weight: 600;

        &:hover,
        &.selected {
            background-color: red;
            color: white;
        }
    }
}

@media screen and (max-width: 950px) {
    .categories .category {
        font-weight: 400;
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    .categories-toggle {
        display: block;
    }

    .container {
        display: none;

        .categories .categories-header {
            display: flex;
        }
    }
}