<div class="card">
    <div class="food-img">
        <img [src]="product.image" alt="Food Image">
    </div>
    <div class="card-body">
        <h4 class="food-name">{{product.name}}</h4>
        <p class="spiciness">Spiciness: {{ spicinessLevels[product.spiciness] }}</p>
        <div class="extra-choices">
            <div class="extra-choice">
                @if(product.nuts){
                <i class="fa-regular fa-circle-check" style="color: #0ed100;"></i>
                } @else {
                <i class="fa-regular fa-circle-xmark" style="color: #f00000;"></i>
                }
                <p>Nuts</p>
            </div>
            <div class="extra-choice">
                @if(product.vegeterian){
                <i class="fa-regular fa-circle-check" style="color: #0ed100;"></i>
                } @else {
                <i class="fa-regular fa-circle-xmark" style="color: #f00000;"></i>
                }
                <p>Vegetarian</p>
            </div>
        </div>
        <div class="ordering-details">
            <h5 class="price">{{ product.price | currency }}</h5>
            <button class="add-to-cart" (click)="addToCart(product)">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
                <p>Add to cart</p>
            </button>
        </div>
    </div>
</div>