.cart-page {
    min-height: 100vh;

    .cart-body {
        padding: 60px 20px;
        max-width: 1180px;
        margin: auto;
        text-align: center;

        .title {
            font-size: 28px;
            margin-bottom: 40px;
        }

        .cart-items-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 20px 60px 20px 100px;
            background-color: #eee;
            border-bottom: 3px solid #bbb;

            .right {
                width: 400px;
                display: flex;
                align-items: flex-end;

                .small-header {
                    width: calc(100% / 3);
                }

                .qty-header::before {
                    content: "(1-99)";
                    display: block;
                    font-size: 11.5px;
                    font-weight: 400;
                }
            }
        }

        .ordering-details {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-end;
            padding: 40px 20px;

            .total-price {
                font-size: 22px;
            }

            .order-btn {
                padding: 8px 20px;
                background-color: red;
                color: white;
                font-size: 18px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: darkred;
                }
            }
        }
    }
}

@media screen and (max-width: 924px) {
    .cart-page .cart-body .cart-items-header .right {
        width: 320px;
    }
}

@media screen and (max-width: 720px) {
    .cart-page .cart-body .cart-items-header {
        padding: 20px 60px;

        .right {
            width: 280px;
        }
    }
}

@media screen and (max-width: 560px) {
    .cart-page .cart-body {
        padding: 50px 0px;

        .cart-items-header {
            padding: 15px 35px;

            .right {
                width: 240px;
            }
        }
    }

}

@media screen and (max-width:430px) {
    .cart-page .cart-body .cart-items-header .right {
        width: 200px;
    }
}