.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
}